/world*
/bluemap
/AntiMalware
/cache
/libraries
/logs
/versions
/banned-ips.json
/banned-players.json
/config/emotecraft_emote_map.json
/usercache.json
/whitelist.json
/version_history.json
/commands.yml
/help.yml
/ops.json
/permissions.yml
/.vscode
/.mc-paper.*.env
/.console_history
/plugins/update
*.gz
*.old
/crash-reports
*.tmp
*.db
*.log
